<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Times"
            id="OReillyClock">
      </category>
      <view
            id="oreillyclock.views.ClockView"
            name="ClockView"
            icon="icons/sample.png"
            class="oreillyclock.views.ClockView"
            category="OReillyClock"
            inject="true">
      </view>
      <view
            category="OReillyClock"
            class="oreillyclock.views.TimeZoneView"
            icon="icons/sample.png"
            id="oreillyclock.views.TimeZoneView"
            name="Time Zone View"
            restorable="true">
      </view>
      <e4view
            category="OReillyClock"
            class="oreillyclock.views.TimeZoneTreeView"
            icon="icons/sample.png"
            id="oreillyclock.views.TimeZoneTreeView"
            name="Time Zone TREE View"
            restorable="true">
      </e4view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="oreillyclock.views.ClockView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         id="OReillyClock.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi"
            apply="always">
      </fragment>
   </extension>

</plugin>
